.AppThumbnail {
   display: inline-block;
   text-align: left; 
   margin-bottom: 8vh;
}

.AppLink {
   display: block;
   text-decoration: none;
   width: 16vw; 
   height: 16vw;
   padding-top: 4vh;
   margin-bottom: 2vh;
   box-shadow: 2px 2px rgb(102, 100, 100);
}

.AppLink h3 {
   margin-top: 0;
   background: inherit;
   background-clip: text;
   color: transparent;
   filter: invert(1);
}

.AppLink:hover .AppLogo, .AppLink:hover h3 {
   transform: scale(1.05);
}

.AppLogo {
   width: 8vw;
   height: 8vw;
   margin: 1vh 4vw;
}

@media (max-width: 849px){
   .AppLink {
      width: 70vw;
      height: 70vw;
      font-size: 1.3em;
      padding-top: 6vh;
   }

   .AppThumbnail {
      margin-bottom: 3vh;
   }

   .AppThumbnail:last-child {
      margin-bottom: 0;
   }

   .AppLogo {
      width: 28vw;
      height: 28vw;
      margin: 2vh 21vw 0;
   }
}