.ContactPage {
   padding: 18vh 0;
}

.ContactPage h2 {
   font-size: 2em;
}

.BigIconList {
   margin: 13vh auto 0;
   width: 50%;
   display: flex;
   justify-content: space-around;
}

@media (max-width: 849px){
   .ContactPage {
      height: fit-content;
      padding-bottom: 7vh;
   }

   .ContactPage h2 {
      font-size: 2.6em;
      margin-bottom: 1vh;
   }

   .BigIconList {
      flex-direction: column;
      margin-top: 0;
   }
}