.BigIconList {
   margin: 13vh auto 0;
   width: 50%;
   display: flex;
   justify-content: space-around;
}

@media (max-width: 849px){
   .ContactPage {
      height: fit-content;
      padding-bottom: none;
   }

   .BigIconList {
      flex-direction: column;
      margin-top: 0;
   }
}