.IconLink {
   display: inline-block;
   margin-right: 0.8vw;
}

.IconLink:hover img {
   transform: scale(1.07);
}

.IconCircle {
   border: 1px solid gray;
   border-radius: 50%;
   padding: 2vw;
   box-shadow: 2px 2px rgb(102, 95, 95);
   animation-delay: 0.8s;
}

.IconCircle:hover {
   border-color: black;
}

.Icon {
   width: 7vh;
   height: 7vh;
}

.BigIcon {
   width: 7vw;
   height: 7vw;
}

@media (max-width: 849px){
   .Icon {
      display: none;
   }

   .BigIcon {
      width: 14vh;
      height: 14vh;
   }

   .IconCircle {
      padding: 6vh;
      margin-top: 5vh;
      text-align: center;
   }

   .IconCircle:last-of-type {
      margin-bottom: 0;
   }
}