.AboutPage h1 {
   font-size: 2.5em;
}

.JokeBlock {
   text-align: center;
   padding-top: 12vh;
   font-size: 1.1em;
}

@media (max-width: 479px){
   .AboutPage h1 {
      font-size: 2.8em;
      margin-top: 0;
   }

   .AboutPage h2 {
      margin-top: 8vh;
      font-size: 1.6em;
   }

   .JokeBlock {
      padding-top: 4vh;
      font-size: 1.2em;
   }
}