.JokeBlock {
   text-align: center;
   padding-top: 15vh;
}

@media (max-width: 479px){
   .AboutPage {
      height: 69.5vh;
   }

   .AboutPage h1 {
      font-size: 2.8em;
   }

   .AboutPage h2 {
      margin-top: 8vh;
      font-size: 1.6em;
   }

   .JokeBlock {
      padding-top: 4vh;
      font-size: 1.2em;
   }
}