.ArrowContainer {
   position: fixed;
   text-align: center;
}

.left {
   left: 0;
}

.right {
   right: 0;
}

.left, .right {
   top: 40%;
   width: fit-content;
}

.up {
   top: 0;
}

.down {
   bottom: 0;
}

.up, .down {
   left: 0;
   width: 100vw;
   height: fit-content;
}

.ArrowLink {
   font-size: 6em;
   font-weight: bold;
   opacity: 0.5;
   text-decoration: none;
   transition: 0.3s;
}

.ArrowLink:hover {
   opacity: 1;
   transform: scale(1.1);
}

.DisabledArrow {
   display: none;
}

@media (max-width: 479px){
   .ArrowLink {
      font-size: 6em;
   }
}