.ArrowLink {
   position: fixed;
   font-size: 6em;
   font-weight: bold;
   opacity: 0.5;
   text-decoration: none;
}

.ArrowLink:hover {
   opacity: 1;
   transform: scale(1.1);
}

.DisabledArrow {
   display: none;
}

.left {
   top: 40%;
   left: 0;
}

.right {
   top: 40%;
   right: 0;
}

.up {
   top: 0;
   right: 48%;
}

.down {
   bottom: 0;
   right: 48%;
}

@media (max-width: 449px){
   .up, .down {
      right: 43.5%;
   }
}