.App {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
   background: #7F7FD5;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Container {
   padding: 18vh 0;
}

h1, h2, h3 {
   text-align: center;
}

@media (max-width: 549px){
   .App {
      height: fit-content;
      width: 90vw;
      padding: 0 5vw;
   }
}